---
layout: base
permalink: /index.html
title: 'Pluralize'
description: 'Eleventy starter using modern CSS, fluid type, fluid spacing, flexible layout and progressive enhancement.'
---

<div class="wrapper">
  <header class="full | section" style="--spot-color: var(--color-primary)">
    <div class="section__inner flow region">
      <h1 class="text-center" style="color: var(--color-light);">{{ title }}</h1>
    </div>
    {% svg "divider/waves", null, "divider" %}
  </header>

  <article class="full | region">
    <div class="prose wrapper flow">
      <h2 id="an-eleventy-starter">An Eleventy starter</h2>
      <p>
        A while ago a friend pointed out to me that people often misuse &quot;There is" and "There are" often in English conversation. Then I started hearing it all of the time. Sometimes I find myself thinking, "Is that singular or plural?" This project is a quick look-up to help see if a noun is singular or plural.
      </p>
    </div>
  </article>

  <section class="full | region">
    <div class="prose wrapper flow">
      <h2>{{ blog.title }}</h2>
      {% if blog.intro %}
        <p>{{ blog.intro }}</p>
      {% endif %}
      <div class="feature |  region region-space-l">
        <custom-masonry layout="50-50">
          Hey friend
        </custom-masonry>
      </div>
    </div>
  </section>
</div>
